node_modules/
dist/
build/
.turbo/
coverage/
.env
.env.local
.env.*.local
*.log
.DS_Store
.vscode/*
!.vscode/extensions.json
.pnpm-store/
.next/
*.tsbuildinfo
playwright-report/
test-results/
blob-report/
